
h1{
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
}
h2{
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;
}

h3{
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 3rem;
}

p{
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
}

input{
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
    width: 18rem;
    height: 1.5rem;
}

button{
    margin: 1rem auto;
    width: 12rem;
    height: 2rem;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
    background-color: black;
    color: white;
    border: 1px solid black;
    &:hover{
        background-color: #a5a5a5;
        color: black;

    }
}
label{
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
    padding-bottom: 0.2rem;
    padding-top: 0.7rem;
}
input{
    border: 1px solid black;
    outline: none;
}

a{
    color: black;
}

