// Colors
$primary-color: #c6538c;
$secundary-color: #c6538c;

// Buttons
$btn-background: #c6538c;
$btn-color: #c6538c;
$btn-border-radius: 1px solid black;

// Fonts
$font-primary: 'Roboto Slab', serif;
$font-secundary: 'Lato', sans-serif;
$font-alt: 'Playfair Display', serif;

